.title_pastoral{
    font-size: 1.4em;
}

.excerpt_pastoral{
    color: #676363;
    font-size: 1.2em;
    font-style: italic;
    margin-top: -20px;
}

.content_pastoral{
    font-size: 1.1em;
    margin-top: -20px;
}